p {
	margin: 0 30% ;
	padding: 0 0 0 2em;
	font-family:华康方圆体W7
		color: #969696;
	font-size: 16px;
	color: black;
	text-indent: 50px;
}
span{
	white-space: normal;
	background-color: #dfdfdf;
}