ul {
	list-style-type: none;
	padding: 0 12.5rem;
	margin: 0,auto;
}
.v-align-middle {
    vertical-align: middle !important;
	size: 1rem;
}
#nav>ul>li {
	text-align: center;
	float: left;
	/*display: inline-block;*/
}

a {
	display: block;
	/*垂直排列，且点击区域为方块*/
	width: 100px;
	/*block可设置width*/
	line-height: 64px;
	/*获得垂直居中效果*/
	text-decoration: none;
	color: rgb(133, 119, 114);
	background-color: rgb(237, 237, 237);
	/*border: 1px solid white;*/
}

.firstNav::after {
	content: '';
	clear: both;
	display: block;
}

.secondNav a {
	background-color: rgb(237, 237, 237);
	border-bottom: 1px solid white;
}

.secondNav {
	display: none;
}

.firstNav>li:hover>a {
	background-color: rgb(101, 101, 101);
	color: white;
}

.firstNav>li:hover .secondNav {
	display: block;
}

/*水平导航栏 the end*/
